.message-container {
    margin-top: 20px;
}

#message-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#messages-display {
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
}

#messages-list {
    list-style-type: none;
    padding: 0;
}

#messages-list li {
    padding: 5px;
    background-color: #f0f0f0; /* Light mode */
    border-radius: 5px;
    margin-bottom: 5px;
}

.dark-mode #messages-list li {
    background-color: #3c3c3c; /* Dark mode */
}


