/* General Wrapper */
.wrapper {
  display: flex;
  height: calc(100vh - 89px);
  transition: padding-left 0.3s ease;
  position: relative;
  overflow: hidden;
  flex-direction: row; /* Maintain horizontal alignment */
}

/* Question Box */
.question-box {
  flex: 1.5;
  background-color: #f0f0f0;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column; 
  box-sizing: border-box;
  min-width: 0;
}

/* Input Box */
.input-box {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  z-index: 1;
  position: relative;
  border-radius: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  font-size: 26px;
  height: 100%;
}

/* Lang Select */
.lang-select {
  position: absolute;
  left: 1000px;
  width: 200px;
  top: 10px;
  z-index: 2;
}

/* Fourth Box */
.fourth-box {
  flex: 1;
  background-color: #cfcfcf;
  padding: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Button to toggle between sidebar and fourth box */
.toggle-button {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 300px;
}

.run-buttons {
  margin: 0px 20px;
}

.output-heading {
  position: absolute;
  top: 100px;
}

.dividing-line {
  position: absolute;
  top: 250px;
  width: 310px;
  margin: 0px;
  padding: 0px;
}

.custom-output {
  position: absolute;
  top: 220px;
  width: 310px;
  word-wrap: break-word;
  word-break: break-all;
}


/* Question Heading */
.question-heading {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

/* Question Description */
.question-desc {
  font-size: 28px;
  color: #333;
  width: 500px;
  margin: 0;
}

.toggle-button:focus {
  outline: none;
}
